html {
	background-color: #CCCCB2;
}

img {
    max-width:100%;
}

body {
	font-family:'Merriweather', serif;
	color: #333333;
	padding: 60px;
	margin: 40px auto;
}
a:link {
	color: #7A7A52;
	text-decoration: none;
}

a:visited {
    color: #7A7A52;
    text-decoration: none;
}

.item {
    width: 200px;
    display:block;
    position:relative;
    margin: 8px;
}

.text {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,0.5);
    color: #fff;
    display:none;
    padding: 20px;
    font-size: 80%;
}

.item:hover .text {
    display:block;
}

.item h2 {
    font-size: 125%;
}
